.container {
    display: flex;
}

.card{
    border: 1px solid black;
    min-width: 300px; 
    min-height: 439px;
    background-size: contain;
    display: block;
}

.back {
    background-image: url(./back_card_yugioh.jpg);
}

.front {
    background-image: url(./RO_front.png);
}